.hide
{
    display: none;
}

body
{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    min-width: 360px;
    margin: 0 0;
    padding: 0 0;
}

a
{
    color: #252525;
}

a:hover
{
    text-decoration: none;

    color: #252525;
}

.lang a:hover
{
    color: #fff;
}

h1,
h2,
h3
{
    font-family: 'Playfair Display', Times, serif;
    font-weight: bold;

    color: #252525;
}

h1
{
    font-size: 52px;

    color: #fff;
}

h2
{
    font-size: 48px;
}

h3
{
    font-size: 28px;
}

header
{
    padding: 38px 0;

    color: #fff;
    background-color: #252525;
    background-image: url('../img/main_img.jpg');
    background-size: cover;
}

button
{
    font-size: 16px;

    margin: 8px 0 10px 0;
    padding: 14px 40px;

    text-align: center;
    text-transform: uppercase;

    border: none;
    border-radius: 50px;
    background: #e6d7ba;
}

button:focus
{
    outline-style: none;
}

button:hover
{
    box-shadow: inset 0 2px 5px rgba(134, 125, 108, .5);
}

.container
{
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;

    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

header .main-info
{
    width: 65%;

    text-align: center;
}

.main-info h1
{
    margin: -10px 0 10px 0;

    text-align: center;
}

.main-info .logo
{
    margin: 0 auto;
}

.main-info p
{
    line-height: 26px;

    width: 80%;
    margin: 10px auto;

    text-align: center;
}

.main-info img
{
    max-width: 30%;
    height: 145px;
    margin: 0 0;
}

.usefull-info
{
    width: 17%;
    margin: 0 0;

    text-align: right;
}

.usefull-info ul
{
    margin: 0 0;
    padding: 0 0;

    list-style: none;
}
.usefull-info ul li
{
    margin: 0 0 12px 0;
}

.usefull-info a:hover
{
    font-weight: 700;
}

nav
{
    width: 17%;
}

nav ul
{
    margin: 0 0;
    padding: 0 0;
}

nav ul li
{
    padding: 0 0 12px 14px;

    list-style: none;
}

nav ul li:hover
{
    font-weight: 700;

    padding: 0 0 12px 0;

    color: #fff;
}

nav ul li:hover::before
{
    content: ' – ';
}

li a,
li a:visited,
li a:active
{
    text-decoration: none;

    color: #fff;
}

li a:hover
{
    color: #fff;
}

.usefull-info li a
{
    padding: 0 4px;
}

.usefull-info li a:last-child
{
    padding: 0 1px;
}

.usefull-info li a:hover
{
    text-decoration: underline;

    color: #fff;
}

.about-company
{
    position: relative;

    padding: 35px 10px;
}

.about-company .tool-yarn
{
    position: absolute;
    z-index: -1;
    bottom: -140px;
    left: 0;

    max-width: 270px;
    height: 210px;
}

.about-company .tool-pin
{
    position: absolute;
    z-index: -1;
    right: -120px;
    bottom: -120px;

    max-width: 270px;
    height: 210px;
}

.info
{
    width: 42%;
}

.lang .checked
{
    font-weight: 700;
}

.about-company h2
{
    margin: 50px 0 -5px 0;
}

.about-company p
{
    line-height: 26px;

    padding: 0 5px 0 0;
}

.about-company img
{
    width: 58%;
    height: 58%;
}

.services
{
    position: relative;

    max-width: 910px;
    margin-top: 25px;
}

.services .tool-scissors
{
    position: absolute;
    z-index: -1;
    right: -180px;
    bottom: -130px;

    max-width: 360px;
    height: 280px;
}


.services h2
{
    flex: 100%;

    margin-bottom: 30px;

    text-align: center;
}

.service
{
    width: 25%;
    min-width: 255px;
}

.service img
{
    display: block;

    margin: 0 auto;
}

.service h3
{
    line-height: 33px;

    margin: 10px 0 0 0;
}

.service p
{
    line-height: 24px;

    margin: 10px 0;
}

.how h2
{
    width: 100%;
    margin: 95px 0 0 0;

    text-align: left;
}

.process-description
{
    width: 52%;
    margin: 0;
}

.process-description li
{
    position: relative;

    margin: 0 0 0 45px;

    list-style: none;
}

.line
{
    position: absolute;
    top: 38px;
    left: -93px;

    width: 70px;

    opacity: .9;
    border-bottom: 3px #252525 solid;
}

.how
{
    position: relative;
}

.how img
{
    width: 42%;
    height: 42%;
    margin: 20px 0 0 0;
}

/* Set counter for process description (step by step)*/
.process-description
{
    counter-reset: step 0;
}

.process-description li:nth-child(1) h3
{
    margin: 0 0 5px 0;
}

.process-description h3
{
    margin: 0 0 5px 0;

    counter-increment: step; /* increment counter */
}



.process-description h3:before
{
    font-family: 'Playfair Display', Times, serif;
    font-size: 48px;
    font-weight: bold;

    content: '0'counter(step)' ';

    color: #252525;
}

.process-description p
{
    line-height: 24px;

    margin: 10px 0 5px 0;
}

.how .tool-pin
{
    position: absolute;
    z-index: -1;
    bottom: -95px;
    left: 0;

    width: 200px;
    height: 140px;
}

.review h2
{
    width: 100%;
    margin: 86px 0 10px 0;

    text-align: center;
}

.slider
{
    position: relative;

    margin: 12px 0 0 0;
}

.slide
{
    max-width: 80%;
    margin: 0 auto;

    background-image: url('../img/knitted.jpg');
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
}

.slide p
{
    line-height: 24px;

    margin: 0 0 0 0;
    padding: 35px 50px 1px 50px;
}

.user-info
{
    margin: 17px auto 0 auto;
    padding: 0 0 25px 0;
}

.slide img
{
    width: 73px;
    height: 73px;
    margin: 0 10px;

    border-radius: 80px;
}

.user-info .name
{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;

    display: block;

    text-align: left;
}

.date
{
    font-size: 18px;
    line-height: 27px;

    float: left;
}

.user-info.container
{
    align-items: center;
    justify-content: center;

    width: 100%;
}

.slide.bottom,
.slide.bottom p,
.slide.bottom .user-info
{
    display: none;
}

.arrow
{
    position: absolute;
    top: 40%;

    width: 31px;
    height: 31px;

    opacity: .5;
}

.arrow.left
{
    left: 7%;

    background-image: url('../img/left.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.arrow.right
{
    right: 7%;

    background-image: url('../img/right.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.counter
{
    margin: 12px 0 0 0;

    text-align: center;
}

.dot
{
    display: inline-block;

    width: 8px;
    height: 8px;
    margin: 0 6px 0 0;

    border-radius: 5px;
    background-color: #c4c4c4;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .08);
}

.dot.active
{
    width: 10px;
    height: 10px;

    background-color: #6e6e6e;
}

.questions
{
    position: relative;
}

.questions h2
{
    width: 100%;
    margin: 69px 0 0 0;

    text-align: center;
}

.questions p
{
    line-height: 26px;

    max-width: 75%;
    margin: 18px 12% 6px 12%;
}

.questions .tool-button,
.questions .tool-buttons
{
    position: absolute;
    z-index: -1;
}

.questions .tool-buttons
{
    right: 0;
    bottom: -80px;

    width: 210px;
}

.questions .tool-button
{
    top: 30px;
    left: -10px;

    width: 150px;
}

.contacts .container
{
    position: relative;
}

.contacts h2
{
    width: 100%;
    margin: 50px 0 0 0;

    text-align: center;
}

.contacts .map
{
    height: 350px;
    margin: 15px 0 0 0;
}

.contacts .info
{
    font-size: 14px;
    line-height: 20px;

    position: absolute;
    z-index: 1;
    top: 180px;
    right: 8%;

    width: 324px;
    padding: 20px 50px 45px 50px;

    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
}

a.phone
{
    color: #000;
}

.info .container
{
    width: 100%;
}

.contacts .info span
{
    display: inline-block;

    width: 28%;
}

.contacts .info span:nth-child(2n)
{
    width: 60%;
}

.contacts .info .phone
{
    margin: 18px 0 0 0;
}

.contacts .info a,
.contacts .info a:visited,
.contacts .info a:active
{
    text-decoration: none;

    color: #252525;
}

.contacts .info a:hover
{
    text-decoration: underline;

    color: #252525;
}

.contacts img
{
    display: block;

    margin: 0 auto 12px auto;
}

footer
{
    font-size: 14px;
    line-height: 20px;

    width: 100%;

    color: #fff;
    background-color: #2a2422;
}


footer a,
footer a:visited,
footer a:active
{
    display: inline-block;

    text-decoration: none;

    color: #fff;
}


footer a:hover
{
    text-decoration: underline;

    color: #fff;
}

footer .container
{
    justify-content: space-between;

    max-width: 1100px;
    padding: 18px 10px 14px 10px;
}

footer .logo
{
    width: 38px;
    height: 31px;
}

footer .contact-info
{
    width: 35%;
    max-width: 148px;
}

.contact-info .name,
.contact-info .phone
{
    float: right;
}

#map
{
    width: 100%;
    height: 350px;
}

.go-to-top
{
    position: fixed;
    right: 10px;
    bottom: 10px;

    width: 50px;
    height: 50px;

    border-radius: 25px;
    background: #e6d7ba;
    background-image: url(../img/top.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.go-to-top:hover
{
    box-shadow: inset 0 2px 5px rgba(134, 125, 108, .5);
}

.app
{
    display: block;

    margin: 0 auto;
}

.app .viber,
.app .whatsapp
{
    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 0 5px;

    border-radius: 25px;
    background-color: #e6d7ba;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}


.app a:hover
{
    box-shadow: inset 0 2px 5px rgba(134, 125, 108, .5);
}

.app .viber
{
    background-image: url('../img/viber.svg');
}

.app .whatsapp
{
    background-image: url('../img/what.svg');
}

a:visited
{
    text-decoration: none;

    color: #fff;
}


@media only screen and (max-width: 1340px)
{
    .about-company .tool-pin
    {
        display: none;
    }

    .services .tool-scissors
    {
        display: none;
    }
}

@media only screen and (max-width: 1150px)
{
    .tool-yarn
    {
        bottom: -120px;
        left: 20px;
    }

    .about-company .info
    {
        width: 50%;
    }

    .about-company img
    {
        width: 45%;
    }
}

@media only screen and (max-width: 950px)
{
    header
    {
        background-image: url('../img/main_img_tablet.jpg');
    }

    .about-company h2
    {
        margin: 0 0 -5px 0;
    }

    .about-company .tool-yarn
    {
        display: none;
    }

    .tool-pin
    {
        display: none;
    }

    .services
    {
        max-width: 100%;
        margin-top: 0;
        padding: 0 10px;
    }

    .how h2
    {
        margin: 50px 0 0 0;
    }

    .how img
    {
        display: none;
    }

    .how .process-description
    {
        width: 90%;
    }

    .review h2
    {
        margin-top: 40px;
    }

    .slide
    {
        max-width: 85%;
    }

    .arrow.left
    {
        left: 4%;
    }

    .arrow.right
    {
        right: 4%;
    }

    .questions h2
    {
        margin-top: 49px;
    }

    .info
    {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 850px)
{
    header
    {
        background-image: url('../img/main_img_tablet.jpg');
    }

    .about-company h2
    {
        margin: 0 0 -5px 0;
    }

    .about-company
    {
        align-items: center;
    }

    .about-company img
    {
        width: 100%;
        max-width: 600px;
    }


    .services
    {
        justify-content: space-between;

        max-width: 90%;
    }

    .service
    {
        width: 45%;
        margin: 20px 0 0 0;
    }

    img[class^='tool-']
    {
        display: none;
    }

    .services .tool-scissors
    {
        right: 0;
        bottom: 0;

        display: block;
    }

    .services h2
    {
        margin-bottom: 0;
    }

    .services
    {
        width: 90%;
        max-width: 600px;
    }

    .questions p
    {
        max-width: 100%;
        margin: 18px 20px 6px 20px;
    }

    .contacts .info
    {
        display: none;
    }

    .main-info p
    {
        width: 100%;
    }

    .about-company .info
    {
        width: 100%;
    }
}

@media only screen and (max-width: 600px)
{
    header
    {
        background-image: url('../img/main_img_tablet.jpg');
    }

    .services .tool-scissors
    {
        display: none;
    }

    .service
    {
        width: 90%;
        margin: 20px auto;
    }

    .service h3
    {
        text-align: center;
    }
}

/*mobile*/
@media only screen and (max-width: 520px)
{
    .review
    {
        display: none;
    }

    header
    {
        padding: 10px 0 28px 0;

        background-image: url('../img/main_img_mobile.jpg');
    }

    body
    {
        font-size: 14px;
    }

    h2
    {
        font-size: 36px;
    }

    h3
    {
        font-size: 26px;
    }

    header .main-info
    {
        width: 100%;
    }

    nav
    {
        display: none;
    }

    .main-info img
    {
        max-width: 50%;
    }

    .usefull-info
    {
        width: 100%;

        text-align: center;
    }

    .header .container
    {
        align-items: center;
        flex-direction: column-reverse;
    }

    .questions .tool-buttons
    {
        top: -150px;
        right: 25%;

        display: block;
    }

    .questions
    {
        margin: 130px 0 0 0;
    }

    .questions p
    {
        margin: 18px 0 6px 0;
    }

    .line
    {
        top: 34px;
        left: -45px;

        width: 35px;
    }

    .process-description li
    {
        margin: 0 0;
    }

    footer .logo
    {
        order: 3;

        width: 100%;
        margin: 25px 0 30px 0;
    }

    footer .contact-info
    {
        order: 1;

        width: 50%;
        max-width: 148px;
    }
}
